RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^(.*)$ https://sploofs.lotionstarlord.com/$1 [L,R=301]

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
