/* Add the below CSS to ouput the Houzz icon
- Replace the word Houzz with your email social media icon
- replace the unicode f27c with the unicode for your social media icon from Font Awesome */

.fa-twitch:before
  content '\f1e8'

.fl-social-icons .fa-stack.icon-twitch i.fa-circle.branded, .fl-social-icons .fa-twitch.branded, .fl-social-icons .fa-twitch.regular
  color #6441A4

.fa-snapchat:before
  content '\f2ac'

.fl-social-icons .fa-stack.icon-snapchat i.fa-circle.branded, .fl-social-icons .fa-snapchat.branded, .fl-social-icons .fa-snapchat.regular
  color #FFFC00
  text-shadow 0 0 3px #5c5c5c
